@model SensorLogger.Models.HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Text<br />
    Number of users: @Html.DisplayFor(model => model.numberOfUsers)<br />
    Number of microcontrollers: @Html.DisplayFor(model => model.numberOfMicrocontrollers)<br />
    Number of readings: @Html.DisplayFor(model => model.numberOfReadings)</p>
</div>